<header class="header">
    <div class="wrapper header__wrapper">

        <nav class="nav header__nav">
            <div class="logo header__logo">
                <a href="" class="logo__link">
                    <img src="../assets/images/Group 9.svg" alt="" class="logo__img">
                </a>
            </div>
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="" class="nav__link">Gallery</a>
                </li>
                <li class="nav__item">
                    <a href="" class="nav__link">Prices for services</a>
                </li>
                <li class="nav__item">
                    <a href="" class="nav__link">About us</a>
                </li>
                <li class="nav__item">
                    <a href="" class="nav__link">Contact</a>
                </li>
            </ul>
        </nav>
        <div class="header__bg">
            <img class="header__img" src="../assets/images/imag.png" alt="">
        </div>
        <div class="header__block">
            <div class="block__info">
                <h1 class="info__title">Solid wood products</h1>
                <p class="info__text">Oak, beech, ash from 1700 CZK per m3</p>
                <button class="btn info__btn">Order</button>
                <i class="block__line"></i>
            </div>

            <div class="block__images">
                <img src="../assets/images/block__images1.png" alt="" class="block_images-item">
                <img src="../assets/images/block__images2.png" alt="" class="block_images-item">
                <img src="../assets/images/block__images3.png" alt="" class="block_images-item">
            </div>
        </div>
    </div>

</header>